{% extends 'base.menu.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block login %}

  <li class="active">
    <a class="ww" href="{{ path('lo_gin') }}">Déconnexion</a>
  </li>

{% endblock %}

{% block body %}
  {#<h1>
      {{ status|upper }}
      :
      {{ pseudo|capitalize }}
    </h1>
  via
  {% if check == '0' %}
    {{  path('lo_gin') }}
  {% endif %}

  | panelmembre #}

  <div id="notif">
    Attention ! Exemple de message- Exemple de message- Exemple de message- Exemple de message.
    <a href="">
      <i class="fa fa-times fa-2x"></i>
    </a>
  </div>

  <div class="titlee">
    <h1>Tableau de bord</h1>
    <h4>Bienvenue sur votre interface client,
      <strong>{{ pseudo|upper }}</strong>
      <strong>{{ check|upper }}</strong>
    </h4>
  </div>

  <div class="myinfo">
    <h2>
      <i class="fa fa-user fa-2x"></i>
      Mes Informations
    </h2>
    <div class="miA">
      <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
      <div class="miAa">
        Nom client
        <br/><br/>

        04.00.00.00.00
        <br/><br/>

        support@exemple.compte
        <br/><br/>

        13, rue des oliviers
        <br/>
        13100 - Aix-en-Provence
        <br/><br/>
      </div>

    </div>
  </div>

  <div class="mystuff">
    <h2>
      <i class="fa fa-suitcase fa-2x"></i>
      Mon équipement
    </h2>
    <div class="miB">

      <div class="miB0">
        <div class="miBa">
          <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="miBb">
          <h3>MATERIEL X</h3>
          <p>N° : M023 Type : CAT3</p>
        </div>
      </div>

      <div class="miB0">
        <div class="miBa">
          <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="miBb">
          <h3>MATERIEL X</h3>
          <p>N° : M023 Type : CAT3</p>
        </div>
      </div>

      <div class="miB0">
        <div class="miBa">
          <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="miBb">
          <h3>MATERIEL X</h3>
          <p>N° : M023 Type : CAT3</p>
        </div>
      </div>

      <div class="miB0">
        <div class="miBa">
          <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="miBb">
          <h3>MATERIEL X</h3>
          <p>N° : M023 Type : CAT3</p>
        </div>
      </div>

      <div class="miB0">
        <div class="miBa">
          <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="miBb">
          <h3>MATERIEL X</h3>
          <p>N° : M023 Type : CAT3</p>
        </div>
      </div>

      <div class="miB0">
        <div class="miBa">
          <i class="fa fa-file-image-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="miBb">
          <h3>MATERIEL X</h3>
          <p>N° : M023 Type : CAT3</p>
        </div>
      </div>

    </div>

  </div>

  <div class="myactivity">
    <h2>
      <i class="fa fa-tags fa-2x"></i>
      Activité
    </h2>
    <div class="miC"></div>
  </div>
{% endblock %}
