{% extends 'base.menu.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}
{% block login %}

  <li class="active">
    <a class="ww" href="{{ path('lo_gin') }}">Déconnexion</a>
  </li>

{% endblock %}
{% block body %}
  <div id="notif">
    Attention ! Exemple de message- Exemple de message- Exemple de message- Exemple de message.
    <a href="">
      <i class="fa fa-times fa-2x"></i>
    </a>
  </div>
  <div class="titlee">
    <h1>Ressources</h1>
    <h4>Bienvenue
      {{ pseudo|upper }}. Vous trouverez ici des logiciels ainsi que de la documentation.
    </h4>
  </div>

  <div class="myinfo" style="color:black;">
    <h2>
      <i class="fa fa-user fa-2x"></i>
      Documentation
    </h2>
    <div class="miC" styles="display:inline-flex;">

      <table>
        <tr style="text-align:right;border: 1px solid black;">
          <th >Nom document</th>
        </tr>

        {% for contnom in v_nom %}
          <tr style="border: 1px solid blue;">
            <th style="text-align:left;">{{ contnom }}</th>
          </tr>
        {% endfor %}
      </table>

      <table>
        <tr style="text-align:right;border: 1px solid black;">
          <th>Taille</th>
        </tr>

        {% for conttaille in v_taille %}
          <tr style="border: 1px solid green;">
            <th style="text-align:left;">{{ conttaille }}</th>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  {# {{ path('ajax_snippet_image_send') }}
    <div class="dropzone my-dropzone" id="form_snippet_image" action="">
      <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
    </div>
#}
  <div id="" style="">
    <ul >
    <li>
      <a style="color:white;text-decoration:none;" href="{{ path('re_ssources') }}">
        <i class="fa fa-fw fa-lg fa-tachometer"></i>
        Retour sur /res simple. -> redirection vers ressources_error.html.twig (error car pas d'{id} selectionné [voir les routings de notre Bundle])
      </a>
    </li>
  </ul>
</div>
{% endblock %}
