{% extends 'base.menu.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}
{% block login %}

  <li class="active">
    <a class="ww" href="{{ path('lo_gin') }}">Déconnexion</a>
  </li>

{% endblock %}
{% block body %}
  <div id="notif">
    Attention ! Exemple de message- Exemple de message- Exemple de message- Exemple de message.
    <a href="">
      <i class="fa fa-times fa-2x"></i>
    </a>
  </div>
  <div class="titlee">
    <h1>Ressources</h1>
    <h4>Bienvenue
      {{ pseudo|upper }}. Vous trouverez ici des logiciels ainsi que de la documentation.
    </h4>
  </div>

  <div class="mylogi" style="color:black;">
    <h2>
      <i class="fa fa-download fa-2x"></i>
      Logiciels
    </h2>
    <div class="miD" styles="">

      <table>
        <tr style="text-align:left;">
          <th width="250px" style="text-align:left;">Description</th>
        </tr>

        {% for contnomlog in v_nomlog %}
          <tr class="0" style="">
            <span>
              <td style="text-align:left;">
                {{ contnomlog }}
              </td>
            </span>
          </tr>
        {% endfor %}
      </table>

      <table>
        <tr style="text-align:right;">
          <th width="80px">Taille</th>
        </tr>

        {% for conttaillelog in v_taillelog %}
          <tr class="0" style="">
            <span>
              <td style="text-align:right;">
                {{ conttaillelog }}
                ko
              </td>
            </span>
          </tr>
        {% endfor %}
      </table>

      <table>
        <tr style="text-align:right;">
          <th width="100px">Date</th>
        </tr>

        {% for datetimelog in v_datelog %}
          <tr class="0" style="">
            <span>
              <td style="text-align:right;">
                {{ datetimelog.date[:10] }}
              </td>
            </span>
          </tr>
          {#{% endif %}#}
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="mydoc" style="color:black;">
    <h2>
      <i class="fa fa-file-pdf-o fa-2x"></i>
      Documentation
    </h2>
    <div class="miD" styles="">

      <table>
        <tr style="text-align:left;">
          <th width="350px" style="text-align:left;">Description</th>
        </tr>

        {% for contnom in v_nom %}
          <tr class="0" style="">
            <span>
              <td style="text-align:left;">
                {{ contnom }}
              </td>
            </span>
          </tr>
        {% endfor %}
      </table>

      <table>
        <tr style="text-align:right;">
          <th width="80px">Taille</th>
        </tr>

        {% for conttaille in v_taille %}
          <tr class="0" style="">
            <span>
              <td style="text-align:right;">
                {{ conttaille }}
                ko
              </td>
            </span>
          </tr>
        {% endfor %}
      </table>

      <table>
        <tr style="text-align:right;">
          <th width="95 px">Date</th>
        </tr>

        {% for datetime in v_date %}
          <tr class="0" style="">
            <span>
              <td style="text-align:right;">
                {{ datetime.date[:10] }}
              </td>
            </span>
          </tr>
          {#{% endif %}#}
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="mymedia" style="color:black;">
    <h2>
      <i class="fa fa-file-image-o fa-2x"></i>
      Media

    </h2>
    <div class="miE" styles=""></div>
  </div>

  {# {{ path('ajax_snippet_image_send') }}
    <div class="dropzone my-dropzone" id="form_snippet_image" action="">
      <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
    </div>
#}

{% endblock %}
